body {
	background: url(../public/images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

button {
	border: none !important;
	box-shadow: none !important;
}

.icon-button {
	background-color: transparent;
	color: white;
	font-size: 25px;
	margin: 5px;
	cursor: pointer;
}

.text-button {
	background-color: grey;
	margin: 10px;
}

.text-button:active,
.text-button:hover {
	background-color: lightgrey !important;
}

.title {
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
}
