body {
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

#body-container {
	height: calc(100vh - 75px);
	overflow-y: auto;
	position: relative;
	top: 40px;
	width: 100%;
}

button {
	border: none !important;
	box-shadow: none !important;
}

.icon-button {
	background-color: transparent;
	color: white;
	font-size: 25px;
	margin: 5px;
	cursor: pointer;
}

.inline-span {
	display: inline-block;
	line-height: 0;
	margin: 0;
}
