body,
#body-container {
  height: 100vh;
  overflow: hidden auto;
  width: 100vw;
}

#body-container {
  padding: 40px 0 35px 0;
}

button {
  border: none !important;
  box-shadow: none !important;
}
