"""Business layer for the {{args.plural_service_name}} service."""
{% for file_import in imports %}
{{file_import}}
{% endfor %}
{% if 'POST' in args.methods %}


def create_{{args.singular_service_name}}(
    {% if args.table_type == 'fct' and args.foreign_dims %}
    {% for _, foreign_dim in args.foreign_dims.items() %}
    {{foreign_dim.singular}}_id: UUIDType,
    {% endfor %}
    {% endif %}
    {% if args.dimensions %}
    {% for _, dimension in args.dimensions.items() %}
    {% if dimension.is_required == True %}
    {{dimension.key}}: {{dimension.type}},
    {% else %}
    {{dimension.key}}: Optional[{{dimension.type}}],
    {% endif %}
    {% endfor %}
    {% endif %}
    {{args.singular_service_name}}_id: Optional[UUIDType] = None,
) -> Optional[dict]:
    """Creates a new {{args.singular_param_type}}.

    Args:
        {% if args.table_type == 'fct' and args.foreign_dims %}
        {% for _, foreign_dim in args.foreign_dims.items() %}
        {{foreign_dim.singular}}_id: The foreign key to the {{foreign_dim.plural}} table.
        {% endfor %}
        {% endif %}
        {% if args.dimensions %}
        {% for _, dimension in args.dimensions.items() %}
        {{dimension.key}}: The {{dimension.key}} to associate with the new {{args.singular_param_type}}.
        {% endfor %}
        {% endif %}
        {{args.singular_service_name}}_id: The primary key to assign to the new {{args.singular_param_type}}.

    Returns:
        A newly created {{args.singular_param_type}} else None.

    Raises:
        InvalidParamException: If any of the given params are None.
    """
    validate_params(
        func='create_{{args.singular_service_name}}',
        params={
            {% if args.table_type == 'fct' and args.foreign_dims %}
            {% for _, foreign_dim in args.foreign_dims.items() %}
            '{{foreign_dim.singular}}_id': {{foreign_dim.singular}}_id,
            {% endfor %}
            {% endif %}
            {% if args.dimensions %}
            {% for _, dimension in args.dimensions.items() %}
            {% if dimension.is_required == True %}
            '{{dimension.key}}': {{dimension.key}},
            {% endif %}
            {% endfor %}
            {% endif %}
        },
    )

    return data.create_{{args.singular_service_name}}(
        {% if args.table_type == 'fct' and args.foreign_dims %}
        {% for _, foreign_dim in args.foreign_dims.items() %}
        {{foreign_dim.singular}}_id={{foreign_dim.singular}}_id,
        {% endfor %}
        {% endif %}
        {% if args.dimensions %}
        {% for _, dimension in args.dimensions.items() %}
        {{dimension.key}}={{dimension.key}},
        {% endfor %}
        {% endif %}
        {{args.singular_service_name}}_id={{args.singular_service_name}}_id,
    )
{% endif %}
{% if 'GET' in args.methods %}


{% if args.method_args and args.method_args.get('GET') %}
def get_{{args.plural_service_name}}(
    {% for arg in args.method_args.get('GET') %}
    {% if arg.type == 'UUIDType' %}
    {{arg.key}}_id: Optional[{{arg.type}}],
    {% else %}
    {{arg.key}}: Optional[{{arg.type}}],
    {% endif %}
    {% endfor %}
) -> list:
{% else %}
def get_{{args.plural_service_name}}() -> list:
{% endif %}
    """Gets {{args.plural_param_type}} from the table filtered by given params.

    {% if args.method_args and args.method_args.get('GET') %}
    Args:
        {% for arg in args.method_args.get('GET') %}
        {% if arg.type == 'UUIDType' %}
        {{arg.key}}_id: The foreign key to the {{arg.key}} table.
        {% else %}
        {{arg.key}}: The {{arg.key}} to filter {{args.plural_param_type}} by.
        {% endif %}
        {% endfor %}

    {% else %}
    {% endif %}
    Returns:
        A list of {{args.plural_param_type}} filtered by any given params.
    """
    {% if args.method_args and args.method_args.get('GET') %}
    {% for arg in args.method_args.get('GET') %}
    {% if arg.type == 'UUIDType' %}
    if {{arg.key}}_id:
        return data.get_{{args.plural_service_name}}_by_{{arg.key}}_id({{arg.key}}_id)
    {% else %}
    if {{arg.key}}:
        return data.get_{{args.plural_service_name}}_by_{{arg.key}}({{arg.key}})
    {% endif %}
    {% endfor %}
    return data.get_{{args.plural_service_name}}()
    {% else %}
    return data.get_{{args.plural_service_name}}()
    {% endif %}
{% endif %}
{% if 'GET_BY_ID' in args.methods %}


def get_{{args.singular_service_name}}_by_id({{args.singular_service_name}}_id: UUIDType) -> Optional[dict]:
    """Gets a {{args.singular_param_type}} from the table by a given id.

    Args:
        {{args.singular_service_name}}_id: The primary key of a {{args.singular_param_type}}.

    Returns:
        A {{args.singular_param_type}} from the table by a given id else None.

    Raises:
        InvalidParamException: If the given {{args.singular_service_name}}_id is None.
    """
    validate_params(
        func='get_{{args.singular_service_name}}_by_id',
        params={'{{args.singular_service_name}}_id': {{args.singular_service_name}}_id},
    )
    return data.get_{{args.singular_service_name}}_by_id({{args.singular_service_name}}_id)
{% endif %}
{% if 'PATCH' in args.methods %}


{% if args.method_args and args.method_args.get('PATCH') %}
def update_{{args.singular_service_name}}(
    {% for arg in args.method_args.get('PATCH') %}
    {% if arg.type == 'UUIDType' %}
    {{arg.key}}_id: {{arg.type}},
    {% else %}
    {{arg.key}}: {{arg.type}},
    {% endif %}
    {% endfor %}
    {{args.singular_service_name}}_id: UUIDType,
) -> Optional[dict]:
{% else %}
def update_{{args.singular_service_name}}(
    # pass in variables needed to update a {{args.singular_param_type}}
    {{args.singular_service_name}}_id: UUIDType,
) -> Optional[dict]:
{% endif %}
    """Updates a {{args.singular_param_type}} by a given id.

    Args:
        {% if args.method_args and args.method_args.get('PATCH') %}
        {% for arg in args.method_args.get('PATCH') %}
        {% if arg.type == 'UUIDType' %}
        {{arg.key}}_id: The foreign key to the {{arg.key}} table.
        {% else %}
        {{arg.key}}: The {{arg.key}} to modify in the {{args.singular_param_type}} with the given id.
        {% endif %}
        {% endfor %}
        {% endif %}
        {{args.singular_service_name}}_id: The primary key of a {{args.singular_param_type}}.

    Returns:
        An updated {{args.singular_param_type}} with the given id else None.

    Raises:
        InvalidParamException: If any of the given params are None.
    """
    validate_params(
        func='update_{{args.singular_service_name}}',
        params={
            {% if args.method_args and args.method_args.get('PATCH') %}
            {% for arg in args.method_args.get('PATCH') %}
            {% if arg.type == 'UUIDType' %}
            '{{arg.key}}_id': {{arg.key}}_id,
            {% else %}
            '{{arg.key}}': {{arg.key}},
            {% endif %}
            {% endfor %}
            {% endif %}
            '{{args.singular_service_name}}_id': {{args.singular_service_name}}_id,
        },
    )

    return data.update_{{args.singular_service_name}}(
        {% if args.method_args and args.method_args.get('PATCH') %}
        {% for arg in args.method_args.get('PATCH') %}
        {% if arg.type == 'UUIDType' %}
        {{arg.key}}_id={{arg.key}}_id,
        {% else %}
        {{arg.key}}={{arg.key}},
        {% endif %}
        {% endfor %}
        {% endif %}
        {{args.singular_service_name}}_id={{args.singular_service_name}}_id,
    )
{% endif %}
{% if 'DELETE' in args.methods %}


{% if args.method_args and args.method_args.get('DELETE') %}
def delete_{{args.plural_service_name}}(
    {% for arg in args.method_args.get('DELETE') %}
    {% if arg.type == 'UUIDType' %}
    {{arg.key}}_id: {{arg.type}},
    {% else %}
    {{arg.key}}: {{arg.type}},
    {% endif %}
    {% endfor %}
) -> Optional[list]:
{% else %}
def delete_{{args.plural_service_name}}(
    param_to_delete_by: str = 'placeholder' # update this
) -> Optional[list]:
{% endif %}
    """Deletes {{args.plural_param_type}} from the table using the given params.

    Args:
        {% if args.method_args and args.method_args.get('DELETE') %}
        {% for arg in args.method_args.get('DELETE') %}
        {% if arg.type == 'UUIDType' %}
        {{arg.key}}_id: The foreign key to the {{arg.key}} table.
        {% else %}
        {{arg.key}}: The {{arg.key}} to delete {{args.plural_param_type}} by.
        {% endif %}
        {% endfor %}
        {% endif %}

    Returns:
        A list of {{args.plural_param_type}} deleted using the given params.

    Raises:
        InvalidParamException: If any of the given params are None.
    """
    validate_params(
        func='delete_{{args.plural_service_name}}',
        params={
            {% if args.method_args and args.method_args.get('DELETE') %}
            {% for arg in args.method_args.get('DELETE') %}
            {% if arg.type == 'UUIDType' %}
            '{{arg.key}}_id': {{arg.key}}_id,
            {% else %}
            '{{arg.key}}': {{arg.key}},
            {% endif %}
            {% endfor %}
            {% endif %}
        },
    )

    return data.delete_{{args.plural_service_name}}(
        {% if args.method_args and args.method_args.get('DELETE') %}
        {% for arg in args.method_args.get('DELETE') %}
        {% if arg.type == 'UUIDType' %}
        {{arg.key}}_id={{arg.key}}_id,
        {% else %}
        {{arg.key}}={{arg.key}},
        {% endif %}
        {% endfor %}
        {% endif %}
    )
{% endif %}
{% if 'DELETE_BY_ID' in args.methods %}


def delete_{{args.singular_service_name}}_by_id({{args.singular_service_name}}_id: UUIDType) -> Optional[dict]:
    """Deletes a {{args.singular_param_type}} from the table by the given id.

    Args:
        {{args.singular_service_name}}_id: The primary key of a {{args.singular_param_type}}.

    Returns:
        A deleted {{args.singular_param_type}} with the given id else None.

    Raises:
        InvalidParamException: If the given {{args.singular_service_name}}_id is None.
    """
    validate_params(
        func='delete_{{args.singular_service_name}}_by_id',
        params={'{{args.singular_service_name}}_id': {{args.singular_service_name}}_id},
    )
    return data.delete_{{args.singular_service_name}}_by_id({{args.singular_service_name}}_id)
{% endif %}
