"""Business layer for the {{args.plural_service_name}} service."""
{% for file_import in imports %}
{{file_import}}
{% endfor %}
{% if 'POST' in args.methods %}


def create_{{args.singular_service_name}}(
    {% if args.table_type == 'fct' and args.foreign_dims %}
    {% for _, foreign_dim in args.foreign_dims.items() %}
    {{foreign_dim.singular}}_id: UUIDType,
    {% endfor %}
    {% endif %}
    {% if args.dimensions %}
    {% for _, dimension in args.dimensions.items() %}
    {% if dimension.is_required == True %}
    {{dimension.key}}: {{dimension.type}},
    {% else %}
    {{dimension.key}}: Optional[{{dimension.type}}],
    {% endif %}
    {% endfor %}
    {% endif %}
    {{args.singular_service_name}}_id: Optional[UUIDType] = None,
) -> Optional[dict]:
    """Creates a new {{args.singular_param_type}}.

    Args:
        {% if args.table_type == 'fct' and args.foreign_dims %}
        {% for _, foreign_dim in args.foreign_dims.items() %}
        {{foreign_dim.singular}}_id: The foreign key to the {{foreign_dim.plural}} table.
        {% endfor %}
        {% endif %}
        {% if args.dimensions %}
        {% for _, dimension in args.dimensions.items() %}
        {{dimension.key}}: The {{dimension.key}} to associate with the new {{args.singular_param_type}}.
        {% endfor %}
        {% endif %}
        {{args.singular_service_name}}_id: The primary key to assign to the new {{args.singular_param_type}}.

    Returns:
        A newly created {{args.singular_param_type}} else None.
    """
    with db.session_scope() as session:
        new_{{args.singular_service_name}} = {{args.table_type.capitalize()}}{{args.plural_schema_name}}(
            {% if args.table_type == 'fct' and args.foreign_dims %}
            {% for _, foreign_dim in args.foreign_dims.items() %}
            dim_{{foreign_dim.singular}}_id={{foreign_dim.singular}}_id,
            {% endfor %}
            {% endif %}
            {% if args.dimensions %}
            {% for _, dimension in args.dimensions.items() %}
            {{dimension.key}}={{dimension.key}},
            {% endfor %}
            {% endif %}
            id={{args.singular_service_name}}_id,
        )

        if new_{{args.singular_service_name}}:
            session.add(new_{{args.singular_service_name}})
            session.commit()
            return {{args.singular_schema_name}}Schema().dump(new_{{args.singular_service_name}})
        return None
{% endif %}
{% if 'GET' in args.methods %}


def get_{{args.plural_service_name}}() -> list:
    """Gets {{args.plural_param_type}} from the table filtered by given params.

    Returns:
        A list of {{args.plural_param_type}} filtered by any given params.
    """
    with db.session_scope() as session:
        {{args.plural_service_name}} = session.query({{args.table_type.capitalize()}}{{args.plural_schema_name}}).all()
        {% if args.singular_service_name|length > 16 %}
        return (
            {% if args.table_type == 'fct' %}
            Populated{{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}})
            {% else %}
            {{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}})
            {% endif %}
            if {{args.plural_service_name}} else []
        )
        {% else %}
        return {% if args.table_type == 'fct' %}Populated{% endif %}{{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}}) if {{args.plural_service_name}} else []
        {% endif %}
{% endif %}
{% if args.method_args and args.method_args.get('GET') %}
{% for arg in args.method_args.get('GET') %}


{% if arg.type == 'UUIDType' %}
def get_{{args.plural_service_name}}_by_{{arg.key}}_id({{arg.key}}_id: UUIDType) -> list:
    """Gets {{args.plural_param_type}} from the {{args.table_type}}_{{args.plural_service_name}} table by a given {{arg.key}}.

    Args:
        {{arg.key}}_id: The {{arg.key}}_id to filter {{args.plural_param_type}} by.

    Returns:
        A list of {{args.plural_param_type}} with the given {{arg.key}}_id else [].
    """
    with db.session_scope() as session:
        {% if args.singular_service_name|length > 12  %}
        {{args.plural_service_name}} = (
            session
                .query({{args.table_type.capitalize()}}{{args.plural_schema_name}})
                .filter_by(dim_{{arg.key}}_id={{arg.key}}_id)
                .all()
        )
        {% else %}
        {{args.plural_service_name}} = session.query({{args.table_type.capitalize()}}{{args.plural_schema_name}}).filter_by(dim_{{arg.key}}_id={{arg.key}}_id).all()
        {% endif %}
        {% if args.singular_service_name|length > 16  %}
        return (
            {% if args.table_type == 'fct' %}
            Populated{{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}})
            {% else %}
            {{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}})
            {% endif %}
            if {{args.plural_service_name}} else []
        )
        {% else %}
        return {% if args.table_type == 'fct' %}Populated{% endif %}{{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}}) if {{args.plural_service_name}} else []
        {% endif %}
{% else %}
def get_{{args.plural_service_name}}_by_{{arg.key}}({{arg.key}}: {{arg.type}}) -> list:
    """Gets {{args.plural_param_type}} from the {{args.table_type}}_{{args.plural_service_name}} table by a given {{arg.key}}.

    Args:
        {{arg.key}}: The {{arg.key}} to filter {{args.plural_param_type}} by.

    Returns:
        A list of {{args.plural_param_type}} with the given {{arg.key}} else [].
    """
    with db.session_scope() as session:
        {% if args.singular_service_name|length > 12  %}
        {{args.plural_service_name}} = (
            session
                .query({{args.table_type.capitalize()}}{{args.plural_schema_name}})
                .filter_by({{arg.key}}={{arg.key}})
                .all()
        )
        {% else %}
        {{args.plural_service_name}} = session.query({{args.table_type.capitalize()}}{{args.plural_schema_name}}).filter_by({{arg.key}}={{arg.key}}).all()
        {% endif %}
        {% if args.singular_service_name|length > 16  %}
        return (
            {% if args.table_type == 'fct' %}
            Populated{{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}})
            {% else %}
            {{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}})
            {% endif %}
            if {{args.plural_service_name}} else []
        )
        {% else %}
        return {% if args.table_type == 'fct' %}Populated{% endif %}{{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}}) if {{args.plural_service_name}} else []
        {% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if 'GET_BY_ID' in args.methods %}


def get_{{args.singular_service_name}}_by_id({{args.singular_service_name}}_id: UUIDType) -> Optional[dict]:
    """Gets a {{args.singular_param_type}} from the table by a given id.

    Args:
        {{args.singular_service_name}}_id: The primary key of a {{args.singular_param_type}}.

    Returns:
        A {{args.singular_param_type}} from the table by a given id else None.
    """
    with db.session_scope() as session:
        {% if args.singular_service_name|length > 12 %}
        {{args.singular_service_name}} = (
            session
                .query({{args.table_type.capitalize()}}{{args.plural_schema_name}})
                .filter_by(id={{args.singular_service_name}}_id)
                .one_or_none()
        )
        {% else %}
        {{args.singular_service_name}} = session.query({{args.table_type.capitalize()}}{{args.plural_schema_name}}).filter_by(id={{args.singular_service_name}}_id).one_or_none()
        {% endif %}
        {% if args.singular_service_name|length > 16 %}
        return (
            {% if args.table_type == 'fct' %}
            Populated{{args.singular_schema_name}}Schema().dump({{args.singular_service_name}})
            {% else %}
            {{args.singular_schema_name}}Schema().dump({{args.singular_service_name}})
            {% endif %}
            if {{args.singular_service_name}} else None
        )
        {% else %}
        return {% if args.table_type == 'fct' %}Populated{% endif %}{{args.singular_schema_name}}Schema().dump({{args.singular_service_name}}) if {{args.singular_service_name}} else None
        {% endif %}
{% endif %}
{% if 'PATCH' in args.methods %}


{% if args.method_args and args.method_args.get('PATCH') %}
def update_{{args.singular_service_name}}(
    {% for arg in args.method_args.get('PATCH') %}
    {% if arg.type == 'UUIDType' %}
    {{arg.key}}_id: {{arg.type}},
    {% else %}
    {{arg.key}}: {{arg.type}},
    {% endif %}
    {% endfor %}
    {{args.singular_service_name}}_id: UUIDType,
) -> Optional[dict]:
{% else %}
def update_{{args.singular_service_name}}(
    # pass in variables needed to update a {{args.singular_param_type}}
    {{args.singular_service_name}}_id: UUIDType
) -> Optional[dict]:
{% endif %}
    """Updates a {{args.singular_param_type}} by a given id.

    Args:
        {% if args.method_args and args.method_args.get('PATCH') %}
        {% for arg in args.method_args.get('PATCH') %}
        {% if arg.type == 'UUIDType' %}
        {{arg.key}}_id: The foreign key to the {{arg.key}} table.
        {% else %}
        {{arg.key}}: The {{arg.key}} to modify in the {{args.singular_param_type}} with the given id.
        {% endif %}
        {% endfor %}
        {% endif %}
        {{args.singular_service_name}}_id: The primary key of a {{args.singular_param_type}}.

    Returns:
        An updated {{args.singular_param_type}} with the given id else None.
    """
    with db.session_scope() as session:
        {% if args.singular_service_name|length > 12 %}
        {{args.singular_service_name}} = (
            session
                .query({{args.table_type.capitalize()}}{{args.plural_schema_name}})
                .filter_by(id={{args.singular_service_name}}_id)
                .one_or_none()
        )
        {% else %}
        {{args.singular_service_name}} = session.query({{args.table_type.capitalize()}}{{args.plural_schema_name}}).filter_by(id={{args.singular_service_name}}_id).one_or_none()
        {% endif %}

        if {{args.singular_service_name}}:
            {% if args.method_args and args.method_args.get('PATCH') %}
            {% for arg in args.method_args.get('PATCH') %}
            {% if arg.type == 'UUIDType' %}
            {{args.singular_service_name}}.dim_{{arg.key}}_id = {{arg.key}}_id
            {% else %}
            {{args.singular_service_name}}.{{arg.key}} = {{arg.key}}
            {% endif %}
            {% endfor %}
            {% else %}
            # update entity
            {% endif %}
            session.commit()
            return {{args.singular_schema_name}}Schema().dump({{args.singular_service_name}})
        return None
{% endif %}
{% if 'DELETE' in args.methods %}


{% if args.method_args and args.method_args.get('DELETE') %}
def delete_{{args.plural_service_name}}(
    {% for arg in args.method_args.get('DELETE') %}
    {% if arg.type == 'UUIDType' %}
    {{arg.key}}_id: {{arg.type}},
    {% else %}
    {{arg.key}}: {{arg.type}},
    {% endif %}
    {% endfor %}
) -> Optional[list]:
{% else %}
def delete_{{args.plural_service_name}}(
    param_to_delete_by: str = 'placeholder' # update this
) -> Optional[list]:
{% endif %}
    """Deletes {{args.plural_param_type}} from the table using the given params.

    Args:
        {% if args.method_args and args.method_args.get('DELETE') %}
        {% for arg in args.method_args.get('DELETE') %}
        {% if arg.type == 'UUIDType' %}
        {{arg.key}}_id: The foreign key to the {{arg.key}} table.
        {% else %}
        {{arg.key}}: The {{arg.key}} to delete {{args.plural_param_type}} by.
        {% endif %}
        {% endfor %}
        {% endif %}

    Returns:
        A list of {{args.plural_param_type}} deleted using the given params.
    """
    with db.session_scope() as session:
        {% if args.singular_service_name|length > 12 %}
        {{args.plural_service_name}} = (
            session
                .query({{args.table_type.capitalize()}}{{args.plural_schema_name}})
                .filter_by({% if args.method_args and args.method_args.get('DELETE') %}{% for arg in args.method_args.get('DELETE') %}{% if arg.type == 'UUIDType' %}dim_{{arg.key}}_id={{arg.key}}_id,{% else %}{{arg.key}}={{arg.key}},{% endif %}{% endfor %}{% else %}# pass filters here{% endif %})
                .all()
        )
        {% else %}
        {{args.plural_service_name}} = session.query({{args.table_type.capitalize()}}{{args.plural_schema_name}}).filter_by({% if args.method_args and args.method_args.get('DELETE') %}{% for arg in args.method_args.get('DELETE') %}{% if arg.type == 'UUIDType' %}dim_{{arg.key}}_id={{arg.key}}_id,{% else %}{{arg.key}}={{arg.key}},{% endif %}{% endfor %}{% else %}# pass filters here{% endif %}).all()
        {% endif %}

        if {{args.plural_service_name}}:
            for {{args.singular_service_name}} in {{args.plural_service_name}}:
                session.delete({{args.singular_service_name}})
                session.commit()
            return {{args.singular_schema_name}}Schema(many=True).dump({{args.plural_service_name}})
        return []
{% endif %}
{% if 'DELETE_BY_ID' in args.methods %}


def delete_{{args.singular_service_name}}_by_id({{args.singular_service_name}}_id: UUIDType) -> Optional[dict]:
    """Deletes a {{args.singular_param_type}} from the table by the given id.

    Args:
        {{args.singular_service_name}}_id: The primary key of a {{args.singular_param_type}}.

    Returns:
        A deleted {{args.singular_param_type}} with the given id else None.
    """
    with db.session_scope() as session:
        {% if args.singular_service_name|length > 12 %}
        {{args.singular_service_name}} = (
            session
                .query({{args.table_type.capitalize()}}{{args.plural_schema_name}})
                .filter_by(id={{args.singular_service_name}}_id)
                .one_or_none()
        )
        {% else %}
        {{args.singular_service_name}} = session.query({{args.table_type.capitalize()}}{{args.plural_schema_name}}).filter_by(id={{args.singular_service_name}}_id).one_or_none()
        {% endif %}

    if {{args.singular_service_name}}:
        session.delete({{args.singular_service_name}})
        session.commit()
        return {{args.singular_schema_name}}Schema().dump({{args.singular_service_name}})
    return None
{% endif %}
