.smart-button {
  padding: 5px 15px;

  &:disabled {
    background: #D3D3D3;
  }
}

.smart-button.text-button {
  background: transparent;

  &:active {
    background: transparent;
    color: grey;

    &:focus {
      background: transparent;
      color: grey;
    }
  }

  &:hover {
    background: transparent;
    color: lightgrey;
  }
}

.smart-button.outline-button {
  background: transparent;
  color: white;
  outline: 1px solid white;
}
