#login-form {
	padding: 2vh;
}

#login-form > div {
	background-color: #333333;
	border-radius: 10px;
	opacity: 0.8;
	padding: 15px 30px;
}

.input-row-wrapper {
	padding: 2% 1% 1% 1%;
}

.input-col-wrapper {
	border-bottom: 1px solid white;
	padding: 0;
}

.valid-icon {
  color: green;
	font-size: 20px;
	width: 2%;
}

.invalid-icon {
  color: white;
	font-size: 20px;
	width: 2%;
}

.form-input-wrapper {
	width: 98%;
}

#signup-submit-button:enabled,
#login-submit-button:enabled {
	background: #C5E376;
	color: white;
}

