.smart-dropdown {
  height: 40px;
  line-height: 30px;

  button {
    background-color: transparent !important;
    font-size: 23px;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .dropdown-menu.show {
    font-family: 'Nunito';
    line-height: 15px;
  }
}

.smart-dropdown-item {
  background-color: transparent !important;

  &:hover {
    color: lightslategrey;
  }
}
