.smart-modal > .modal-dialog > .modal-content {
  border-radius: 10px;
}

.smart-modal-header {
  background-color: #1E1E1E;
  color: white;
  padding: 10px;
}

.smart-modal-header > .modal-title {
  font-size: 16px;
}

.smart-modal-footer {
  border-top: none;
}
