.smart-modal > .modal-dialog > .modal-content {
  border-radius: 10px;
}

.smart-modal-header {
  background-color: #1E1E1E;
  color: white;
  font-family: 'Nunito';
  padding: 10px;

  .modal-title {
    font-size: 16px;
  }
}

.smart-modal-footer {
  border-top: none;
}
