@use 'src/app';

#main-footer {
  background-color: app.$secondary-background-color;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 105%;

  #main-footer-text {
    color: white;
    margin: 0;
    padding: 5px;
  }
}
