@use 'src/app';

#login-page {
  background: url(app.$image-assets-path + 'login_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;

  .inline-span {
    display: inline-block;
    line-height: 0;
    margin: 0;
  }
}
