#login-panel-wrapper {
	background-color: #333333;
	border-radius: 8px;
	margin-top: 30vh;
	padding-bottom: 15px;
}

#secret-prompt {
	padding: 20px;
}

#login-submit-button:disabled {
	background-color: #D3D3D3 !important;
}

#passcode-hide-button {
	background-color: transparent !important;
	line-height: 0;
	margin-left: -10px;
}

#passcode-input {
	border: none !important;
	margin-left: 2%;
	width: 100%;
}
