.smart-form-input.clear-form-input,
.smart-form-input.clear-form-input:active,
.smart-form-input.clear-form-input:focus {
	background: transparent;
	border-left: none;
	border-radius: 0;
	border-right: none;
	border-top: none;
  box-shadow: none;
  color: white;
  font-size: 18px;
}

.smart-form-input,
.smart-form-input:active,
.smart-form-input:focus {
	background: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: none;
  font-size: 18px;
}
