#main-header {
	background-color: #333333;
	height: 40px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 105%;
}

#main-header-icon {
	float: left;
	height: 40px;
}

#main-header-text {
	color: white;
	float: left;
	font-family: 'Affectionately Yours';
	font-size: 35px;
	line-height: 40px;
}