#main-header {
  background-color: #242424;
  height: 40px;
  padding: 0px 10px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  user-select: none;
}

.header-icon {
  color: white;
  font-size: 23px;
}
