{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-export-namespace-from",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-syntax-dynamic-import",
		[
			"babel-plugin-root-import",
			{
				"rootPathSuffix": "src",
				"rootPathPrefix": "~/"
			}
		]
	]
}